body {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.converter {
	padding: 10px;
	background-color: bisque;
}

.converter__button {
	display: block;
	margin-top: 5px;
	padding: 5px;
}

.converter__label {
	margin-right: 5px;
}

.converter__input {
	padding: 2px;
	margin-right: 5px;
}

.converter__output {
	background-color: transparent;
	padding: 2px;
	border: 1px solid black;
	border-radius: 2px;
}

.converter__select {
	margin: 10px;
	padding: 5px;
}

.converter__wrapper {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

