body {
    margin: 0;
	padding: 0;
	background-color: bisque;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.converter {
	padding: 80px;
}

.converter__wrapper {
	/* width: 1000px; */
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
}

.converter__button {
	margin-bottom: 10px;
	padding: 5px;
}

.converter__item {
	padding: 5px;
}